body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    align-items: center;
}

h1 {
    color: orange;
}

h3 {
    color: blue;
}

a {
    text-decoration: none;
    color: green;
}