body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  background: #fff;
  justify-content: space-between;
  align-items: center;
  margin: 0.6em;
  height: 3.7em;
  border-radius: 1.8em;
  box-shadow: 0px 4px 45px 0px rgba(0,0,0,0.36);
}

.logo img,
.quick_access img {
  width: 2.1em;
  height: 1.8em;
}

.logo {
	display: flex;
	margin-left: 1.8em;
}

.logo:hover {
	box-shadow: 0px 0px 85px 0px rgba(0,0,0,0.36);
	border-radius: 0.3em;
	transition:box-shadow 2s;
}

.links {
  list-style: none;
  display: flex;
}

.links li {
  margin-right: 1.8em;
}

.links li a {
  text-decoration: none;
  color: black;
}

.links li a:hover {
	text-decoration: underline;
}

.quick_access {
	display: flex;
	margin-right: 0.9em;
}

.quick_access img {
	margin-right: 0.6em;
	margin-left: 0.6em;
}

.quick_access img:hover {
	box-shadow: 0px 0px 85px 0px rgba(0,0,0,0.36);
	border-radius: 0.3em;
	transition:box-shadow 2s;
}

.cards {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.card {
	margin: 3em;
	height: 50em;
	width: 50em;
	border-radius: 1.8em;
	box-shadow: 0px 4px 45px 0px rgba(0,0,0,0.36);
}

.card:hover {
	background: rgb(29, 29, 29);
	box-shadow: 0px 0px 85px 0px rgba(0,0,0,0.36);
	color: white;
	transition-property: background, box-shadow, color;
	transition-duration: 2s;
}

.type {
	display: flex;
	justify-content: center;
	font-size: 2.5em;
}

.price {
	display: flex;
	justify-content: center;
	font-size: 4em;
}

.ref {
	display: flex;
	justify-content: center;
	font-size: 1.5em;
}

.features {
	display: flex;
	flex-direction: column;
	margin: 5em;
}

.features_heading {
	display: flex;
	font-size: 1.5em;
	font-weight: bold;
}

.options {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.options li {
	font-size: 1.5em;
}

.options li img {
	height: 1em;
	width: 1em;
}

@media (max-height: 844px) and (max-width: 390px), screen and (orientation: portrait) {

	nav {
		display: flex;
		background: #fff;
		justify-content: space-between;
		align-items: center;
		margin: 0.6em;
		width: 49.3em;
		border-radius: 1.8em;
		box-shadow: 0px 4px 45px 0px rgba(0,0,0,0.36);
	  }
	
	.logo img {
  		width: 1.1em;
  		height: 1.8em;
	}

	.quick_access img {
		width: 1.1em;
		height: 1.8em;
	}

	.cards {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.cards {
		margin-left: 25em;
	}

	.card {
		height: 50em;
		width: 35em;
		border-radius: 1.8em;
		box-shadow: 0px 4px 45px 0px rgba(0,0,0,0.36);
	}
}