.footer {
    color: rgb(124, 67, 67);
    background-color: lightcoral;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    font-size: 0.8em;
    position: relative;
    bottom: 0;
    /* margin-top: 13em; */
    margin-top: 40%;
}
