.contact_details {
    display: inline-block;
    text-align: center;
    margin: auto;
}

.contact_details {
    position: relative;
}

.p {
    text-wrap: balance;
    text-align: center;
    font-size: 1.5em;
    padding-left: 20%;
    padding-right: 20%;
}