nav {
    color: rgb(46, 75, 46);
    background-color: lightgreen;
    font-style: bold;
    text-align: center;
    padding: 1%;
    margin: 1%;
    border-radius: 15px;
    height: 3.8em;
}

.title {
    position: absolute;
    font-size: 0.7em;
    text-wrap: nowrap;
    top: 2.2%;
    left: 35%;
}

.h2 {
    color: red;
    text-align: center;
}

.orders_page_link {
    font-size: 1.2em;
    position: absolute;
    top: 2%;
    left: 3%;
    border-radius: 10px;
    background-color: rgb(141, 235, 141);
}

.menu_page_link {
    color: rgb(86, 138, 86);
    font-size: 1.2em;
    position: absolute;
    top: 2.1%;
    right: 2.5%;
    border-radius: 10px;
    background-color: rgb(141, 235, 141);
}

.home_page_link {
    color: rgb(86, 138, 86);
    font-size: 1.2em;
    position: absolute;
    top: 2.1%;
    right: 24.71%;
    border-radius: 10px;
    background-color: rgb(141, 235, 141);
}

.contact_page_link {
    color: rgb(86, 138, 86);
    font-size: 1.2em;
    position: absolute;
    top: 2.1%;
    right: 9.9%;
    border-radius: 10px;
    background-color: rgb(141, 235, 141);
}

.about_page_link {
    color: rgb(86, 138, 86);
    font-size: 1.2em;
    position: absolute;
    top: 2.1%;
    right: 17.5%;
    border-radius: 10px;
    background-color: rgb(141, 235, 141);
}

span {
    text-decoration: none;
    color: black;
}