.contact-form, .contact-details {
    display: inline-block;
    text-align: center;
    margin: auto;
}

.contact-details {
    position: relative;
    top: 8.2em;
}

.contact-form {
    position: relative;
    top: -6.8em;
}

p {
    text-wrap: balance;
    text-align: center;
    font-size: 1.5em;
    padding-left: 20%;
    padding-right: 20%;
}