h1 {
    color: rgb(46, 75, 46);
    background-color: lightgreen;
    font-style: bold;
    text-align: center;
    padding: 1%;
    margin: 1%;
    border-radius: 15px;
}

.h2 {
    color: red;
    text-align: center;
}

.orders_page_link {
    font-size: 1.5em;
    position: absolute;
    top: 3.7%;
    left: 1.8%;
    border-radius: 10px;
    background-color: rgb(141, 235, 141);
}

.menu_page_link {
    color: rgb(86, 138, 86);
    font-size: 1.5em;
    position: absolute;
    top: 4.1%;
    right: 11.7%;
    border-radius: 10px;
    background-color: rgb(141, 235, 141);
}

.home_page_link {
    color: rgb(86, 138, 86);
    font-size: 1.5em;
    position: absolute;
    top: 4.1%;
    right: 16.08%;
    border-radius: 10px;
    background-color: rgb(141, 235, 141);
}

.contact_page_link {
    color: rgb(86, 138, 86);
    font-size: 1.5em;
    position: absolute;
    top: 4.1%;
    right: 6.1%;
    border-radius: 10px;
    background-color: rgb(141, 235, 141);
}

.about_page_link {
    color: rgb(86, 138, 86);
    font-size: 1.5em;
    position: absolute;
    top: 4.1%;
    right: 1.9%;
    border-radius: 10px;
    background-color: rgb(141, 235, 141);
}

span {
    text-decoration: none;
    color: black;
}